body{
margin:0;
font-family:Arial;
}

/* HEADER */

header{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px;
background:#ff69b4;
color:white;
}

nav a{
margin:10px;
color:white;
text-decoration:none;
font-weight:bold;
}

/* HERO */

.hero{
background:url("../images/banner.jpg");
background-size:cover;
background-position:center;
height:500px;
color:white;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
}

.hero h1{
font-size:50px;
}

.btn{
background:#ff1493;
padding:12px 25px;
color:white;
text-decoration:none;
border-radius:5px;
}

/* SERVICES */

.services{
text-align:center;
padding:50px;
}

.service-container{
display:flex;
justify-content:center;
gap:30px;
}

.card{
width:250px;
background:white;
border-radius:10px;
box-shadow:0 5px 10px gray;
overflow:hidden;
transition:0.3s;
}

.card img{
width:100%;
}

.card:hover{
transform:scale(1.05);
}

/* ABOUT */

.about{
background:#fff0f5;
padding:40px;
text-align:center;
}

/* FOOTER */

footer{
background:#ff69b4;
color:white;
text-align:center;
padding:15px;
}
