body{
font-family: Arial;
margin:0;
background:#fff5f7;
}

header{
background:#ff69b4;
color:white;
padding:20px;
text-align:center;
}

nav a{
color:white;
margin:10px;
text-decoration:none;
font-weight:bold;
}

.hero{
text-align:center;
padding:80px;
}

.hero h2{
font-size:40px;
color:#d63384;
}
.services{
display:flex;
justify-content:center;
gap:20px;
}

.card{
background:white;
padding:20px;
border-radius:10px;
box-shadow:0 0 10px gray;
width:200px;
text-align:center;
}
