body{
font-family:Arial;
margin:0;
}

header{
display:flex;
justify-content:space-between;
align-items:center;
background:#ff69b4;
color:white;
padding:20px;
}

nav a{
color:white;
margin:10px;
text-decoration:none;
}

.hero{
background:#ffe4ec;
text-align:center;
padding:100px;
}

.btn{
background:#ff1493;
color:white;
padding:12px 20px;
text-decoration:none;
}

.service-container{
display:flex;
justify-content:center;
gap:30px;
padding:40px;
}

.card{
background:white;
padding:20px;
width:220px;
text-align:center;
border-radius:10px;
box-shadow:0 5px 10px gray;
transition:0.3s;
}

.card:hover{
transform:scale(1.05);
}

.gallery{
display:grid;
grid-template-columns:repeat(4,1fr);
gap:10px;
padding:30px;
}

.gallery img{
width:100%;
border-radius:10px;
}

.contact-box{
display:flex;
justify-content:center;
padding:40px;
}

input, textarea{
display:block;
width:250px;
margin:10px;
padding:8px;
}

button{
background:#ff1493;
color:white;
padding:10px;
border:none;
}
